<div id='edit_snp' class='modal'>
  <div class='modal-content'>
    <div class='container'>
      <h3 class='center'> Edit SNPs </h3>
      <div class='snpItems'>
        <% snps.forEach((v)=>{ %>
          <div class="card-panel indigo lighten-5">
            <form action="/admin/snp" method='post'>
              <div class='row'>
                <section class="input-field inline col s10">
                  <input name="id" type="text" class="validate" required="" aria-required="true" value='<%=v.id%>' hidden>
                  <input name="name" type="text" class="validate" required="" aria-required="true" value='<%=v.name%>' hidden>
                  <input name="description" id="<%=v.id%>" type="text" class="validate" required="" aria-required="true" value='<%= v.description %>'>
                  <label class="active" for="<%=v.id%>"><%=v.name%></label>
                </section>
                <section class="row center">
                  <button type="submit" class="col s5 waves-effect waves-green btn-flat">Save</button>
                  <button id='<%=v.id%>' class='col s5 deleteSNP waves-effect waves-green btn-flat'>Delete</button>
                </section>
              </div>
            </form>
          </div>
          <% }); %>
            <div class="card-panel indigo lighten-5">
              <form action="/admin/snp/add" method='post'>
                <div class='row'>
                  <section class='input-field inline col s10'>
                    <input name="id" type="text" class="validate" required="" aria-required="true" value='<%=variants.length + 1%>' hidden>
                    <input name='name' id='name' type='text' class='validate' required='' aria-required='true' value=''>
                    <label class='active' for='name'>SNP</label>
                  </section>
                  <section class='input-field inline col s10'>
                    <input name='description' id='desc' type='text' class='validate' required='' aria-required='true' value=''>
                    <label class='active' for='desc'>Link</label>
                  </section>
                  <section class='row center'>
                    <button type='submit' class='col s5 waves-effect waves-green btn-flat'>Add</button>
                  </section>
                </div>
              </form>
            </div>
      </div>

    </div>
  </div>
</div>
