<!DOCTYPE html>
<html>

<%- include ./partials/head %>

  <body>
    <%- include ./partials/navbar %>
      <div class='container scrollspy'>
        <h1 class='thin'> hello, <%= profile.first%>.</h1>
        <a href="#edit_profile" id='edit' class="btn btn-floating tooltipped lime pulse" data-position="bottom" data-delay="50" data-tooltip="Edit profile"><i class="material-icons">edit</i></a></br>
        <%- include ./partials/editprofile %>
          <% if(profile.age && profile.gender && profile.height && profile.weight) { %>
            <%- include ./partials/nutrition %>
              <% } else { %>
                <div class='row center'>
                  <div class='col m6 s12'>
                    <h5 class='thin'>Edit your profile to receive custom calorie and macronutrient recommendations.</h5>
                  </div>
                </div>

                <% }; %>
                  <% if (variants.length > 0) { %>
                    <div class='row'>
                      <div class='col s12 m6'>
                        <div class='card-panel'>
                          <h3 class='center'> Genotype </h3>
                          <% if (user) { %>
                            <% if (user.is_admin) { %>
                              <h6 class='center'>
                            <a href="#edit_snp"> Edit SNPs </a><br>
                          </h6>
                              <% }; %>
                                <% }; %>
                                  <% variants.forEach((v)=>{ %>
                                    <a href='<%=v.description%>'>
                                      <%=v.name%>
                                    </a>
                                    <h5><%=v.variant%></h5>
                                    <% }); %>
                        </div>
                      </div>
                      <div class='col s12 m6'>
                        <div class='card-panel'>
                          <h3 class='center'> Phenotype </h3>
                          <% if (user) { %>
                            <% if (user.is_admin) { %>
                              <h6 class='center'>
                          <a href="#edit_phen"> Edit Phenotypes </a>
                          </h6>
                              <%- include ./partials/editPhen %>
                                <% }; %>
                                  <% }; %>
                                    <h5 class='thin flow-text'><%= phenotype.description %><h5>
                                  </div>
    </div>
  </div>
<% }%>
<% if (user) { %>
  <% if (!user.ttam_profile_id) { %>
    <div class='row center'>
      <div class='col m6 s12'>
          <h5> Please authorize 23andMe to view recommendations based on your genotype. </h5>
                        </div>
                        <div id="TTAM_wrapper">
                        </div>
                      </div>


                      </br>
                      <div class 'col s12 center'>
                        <button class='waves-effect waves-light btn btn-floating indigo darken-4'>
                                      <a href='https://www.23andme.com/' class='thin white-text'>Don't have a 23andMe account? Learn more here.</a>
                                    </button></br>
                      </div>
                      <% }; %>
                        <% }; %>

                          <%- include ./partials/editSNPs %>
                    </div>
                    <% if (!user) { %>
                      <div class="hide-on-small-only">
                        <div class="sticky">
                          <div class='container center'>
                            <div class='card-panel lime'>
                              <h5 class='center white-text'> Sample </h5>
                            </div>
                            <h6> This is just a sample profile. </h6>
                            <h6 class='thin'>Feel free to edit the profile to receive more accurate calorie recommendations.</h6>
                            <h6 class='thin'>Even better, sign in or create an account so you can save your results and
          pull in your 23andMe data for customized macronutrient recommendations.</h6>
                          </div>
                        </div>
                      </div>
                      <% }; %>
                        <%- include ./partials/footer %>

  </body>


</html>
