<!DOCTYPE html>
<html>

<%- include ./partials/head %>

  <body>
    <%- include ./partials/navbar %>
      <div class='container'>
        <h1 class='center'><%= title %></h1>
        <h5> hello, <%= profile.first%>.</h5>
        <a href="#edit_profile">
      edit profile
    </a>
        <%- include ./partials/editprofile %>
          <% if(profile.age && profile.gender && profile.height && profile.weight) { %>
            <div class='row'>
              <div class='col s6'>
                <h3>Calories: <span id='calories'><%= calories %> </span></h3>
                <h3>Carbs: <span id='carb'><%= macros.carbs %></span></h3>
                <h3>Fat: <span id='fat'><%= macros.fat %></span></h3>
                <h3>Protein: <span id='protein'>  <%= macros.protein %></span> <h3>

          </div>
          <div class = 'col s6'>
          <div id='chart' height='300px' width = '100%'></div>
          </div>
        </div>
        <div class='col s12'>
          <form action="#">
            <p class="range-field">
              <input type="range" id="goals" min="-2" max="2" />
            </p>
          </form>
          <% } else { %>
            <h5> please complete your profile </h5>
            <% }; %>
          <% if (variants.length > 0) { %>
          <h3 class='center'> Your Genotype </h3>
                <% if (user) { %>
                  <% if (user.is_admin) { %>
                    <a href="#edit_snp"> Edit Data </a>
                    <% }; %>
                      <% }; %>
                        <% variants.forEach((v)=>{ %>
                          <a href='<%=v.description%>'>
                            <%=v.name%>
                          </a>
                          <h5><%=v.variant%></h5>
                          <% }); %>
              </div>
              <% } else { %>
                <h5> please authorize 23andMe to view reccommendations based on your genotype. </h5>
                <% }; %>
                  <% if (user) { %>
                    <% if (!user.ttam_profile_id) { %>
                      <a href="/auth">Authorize 23andMe</a>
                      <% }; %>
                        <% }; %>
                          <%- include ./partials/editSNPs %>
            </div>
  </body>

</html>
