<!DOCTYPE html>
<html>

<%- include ./partials/head %>

  <body>
    <%- include ./partials/navbar %>
      <main class='container scrollspy'>
        <h1 class='thin'> hello, <%= profile.first%></h1>
        <a href="#edit_profile" id='edit' class="btn btn-floating tooltipped lime pulse" data-position="bottom" data-delay="50" data-tooltip="Edit profile"><i class="material-icons">edit</i></a></br>
        <%- include ./partials/editprofile %>
          <% if(profile.age && profile.gender && profile.height && profile.weight) { %>
            <%- include ./partials/nutrition %>
              <% } else { %>
                <section class='col m6 s12 center'>
                  <h5 class='thin'>Edit your profile to receive custom calorie and macronutrient recommendations.</h5>
                </section>
                <% }; %>
                  <% if (variants.length > 0) { %>
                    <%- include ./partials/genetics %>
                      <% }%>
                        <% if (user) { %>
                          <% if (!user.ttam_profile_id) { %>
                            <article class='row center'>
                              <section class='col s12 right'>
                                <h5 class='thin'> Authorize 23andMe to view recommendations based on your genotype. </h5>
                                <div id="TTAM_wrapper"></div>
                              </section>
                            </article>
                            </br>
                            <article class='row center'>
                              <section class 'col s12'>
                                <button class='waves-effect waves-light btn indigo darken-4'>
              <a href='https://www.23andme.com/' class='thin white-text'>No 23andMe account? Learn more here.</a>
              </button></br>
                              </section>
                            </article>
                            <% }; %>
                              <% }; %>
      </main>
      <% if (!user) { %>
        <%- include ./partials/sample %>
          <% }; %>
            <%- include ./partials/footer %>

  </body>

</html>
